<table class="table-auto w-full border-collapse border border-gray-300">
    <thead>
      <tr>
        <th *ngFor="let header of headers" class="border p-2 bg-gray-100 text-left">
          {{ header.display}}
        </th>
      </tr>
    </thead>
    <tbody>
        
      <tr *ngFor="let item of data"  class="cursor-pointer hover:bg-gray-100">
        <td *ngFor="let header of headers" class="border p-2"(click)="$event.stopPropagation()"  (blur)="onEdit(item['id'], header.display, $event)">
          <span *ngIf="header.isLink; else noLink" (click)="goToDetails(item)" class="link">{{ item[header.key]}}</span>
          <ng-template #noLink> <div contenteditable >{{ item[header.key]}}</div> </ng-template>
        </td>
      </tr>
    </tbody>
  </table>
  